version: "3.9"

services:

  postgres-auth:
    image: postgres:15
    environment:
      POSTGRES_DB: auth
      POSTGRES_USER: auth
      POSTGRES_PASSWORD: auth
    ports:
      - "5432:5432"
    volumes:
      - ./auth-service/db/:/docker-entrypoint-initdb.d/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U auth -d auth"]
      interval: 5s
      timeout: 5s
      retries: 10

  postgres-flag:
    image: postgres:15
    environment:
      POSTGRES_DB: flags
      POSTGRES_USER: flag
      POSTGRES_PASSWORD: flag
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U flag -d flags"]
      interval: 5s
      timeout: 5s
      retries: 10

  postgres-targeting:
    image: postgres:15
    environment:
      POSTGRES_DB: targeting_db
      POSTGRES_USER: targeting_user
      POSTGRES_PASSWORD: targeting_pass
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U targeting_user -d targeting_db"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10

  dynamodb:
    image: amazon/dynamodb-local
    command: "-jar DynamoDBLocal.jar -sharedDb"
    ports:
      - "8000:8000"

  sqs:
    image: softwaremill/elasticmq
    ports:
      - "9324:9324"

  auth-service:
    build: ./auth-service
    depends_on:
      postgres-auth:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://auth:auth@postgres-auth:5432/auth
      MASTER_KEY: supersecretmasterkey
    ports:
      - "8001:8001"

  flag-service:
    build: ./flag-service
    depends_on:
      postgres-flag:
        condition: service_healthy
      auth-service:
        condition: service_started
    environment:
      DATABASE_URL: postgres://flag:flag@postgres-flag:5432/flags
      AUTH_SERVICE_URL: http://auth-service:8001
    ports:
      - "8002:8002"

  targeting-service:
    build: ./targeting-service
    depends_on:
      postgres-targeting:
        condition: service_healthy
      auth-service:
        condition: service_started
    environment:
      DATABASE_URL: postgres://targeting_user:targeting_pass@postgres-targeting:5432/targeting_db
      AUTH_SERVICE_URL: http://auth-service:8001
    ports:
      - "8003:8003"

  evaluation-service:
    build: ./evaluation-service
    depends_on:
      redis:
        condition: service_healthy
      flag-service:
        condition: service_started
      targeting-service:
        condition: service_started
      sqs:
        condition: service_started
    environment:
      FLAG_SERVICE_URL: http://flag-service:8002
      TARGETING_SERVICE_URL: http://targeting-service:8003
      REDIS_URL: redis://redis:6379
      AWS_SQS_URL: http://sqs:9324/000000000000/analytics-queue
      AWS_REGION: us-east-1
    ports:
      - "8080:8080"

  analytics-service:
    build: ./analytics-service
    depends_on:
      dynamodb:
        condition: service_started
      sqs:
        condition: service_started
    environment:
      AWS_REGION: us-east-1
      AWS_SQS_URL: http://sqs:9324/000000000000/analytics-queue
      AWS_SQS_ENDPOINT: http://sqs:9324
      AWS_DYNAMODB_TABLE: analytics-events
      AWS_ACCESS_KEY_ID: dummy
      AWS_SECRET_ACCESS_KEY: dummy
    ports:
      - "8005:8005"
