apiVersion: apps/v1
kind: Deployment
metadata:
  name: analytics-service-deployment
  namespace: analytics-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: analytics-service
  template:
    metadata:
      labels:
        app: analytics-service
    spec:
      containers:
        - name: analytics-service
          image: 935451498002.dkr.ecr.us-east-1.amazonaws.com/toggle-feature/analytics-service:1.0.0
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "64Mi" 
              cpu: "20m"   
            limits:
              memory: "128Mi"
              cpu: "35m"
          ports:
            - containerPort: 8005
          envFrom:
            - secretRef: 
                name: analytics-service-secret
          startupProbe:
            httpGet: { path: /health, port: 8005 }
            periodSeconds: 5
            failureThreshold: 6
